.calculator {
  margin-top: 20px;
  max-width: 300px;
}

.calculator form {
  padding-top: 20px;
}

.kz-btn {
  width: 55px;
  margin-bottom: 4px;
}

.kz-input-text {
  width: 173px !important;
  margin-bottom: 4px;
}